#!/bin/sh

export AIRSTACK_API_KEY=
export ALCHEMY_API_KEY=
export SIGNING_PRIVATE_KEY=
export SIGNING_WALLET_ADDRESS=
export PAYMASTER_ADDRESS=
export SIMPLE_ACCOUNT_FACTORY_ADDRESS=
export CHAIN_ID=